<h4>City Name: <%= @city.name %></h4>

<h3>Trains that Stop Here</h3>

  <% if @city.trains.any? %>
    <ul>
      <% @city.trains.each do |train| %>
        <li><a href="/trains/<%= train[0].id %>"><%= train[0].name + "-TIMES" + train[1] %></a></li>
      
      <% end %>
    </ul>
  <% else %>
    <p>There are no trains listed for this city yet.</p>
  <% end %>

<h4>Add a train:</h4>

<form action="/cities/<%= @city.id %>" method="post">
  <div class="form-group">
    <label for="train_name">Train Name</label>
    <input id="train_name" name="train_name" class="form-control" type="text">
    <label for="time">Train Time</label>
    <input id="time" name="time" class="form-control" type="datetime-local">
  </div>
  <button type="submit" class="btn">Add Train Info</button>
</form>


<p><a href="/cities/<%= @city.id %>/edit">Edit City</a></p>
<a href="/cities">Return to City List</a>